In [6]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv('adult.data.csv')

## 1.Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [8]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

## 2. Каков средний возраст (признак age) женщин?

In [9]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

## 3. Какова доля граждан Германии (признак native-country)?

In [10]:
data[data['native-country'] == 'Germany']['native-country'].count() / data.shape[0]

0.004207487485028101


## 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [48]:
print('>50K mean: ', data[data['salary'] == '>50K']['age'].mean(), 'std: ', data[data['salary'] == '>50K']['age'].std())
print('<=50K mean:', data[data['salary'] == '<=50K']['age'].mean(), 'std', data[data['salary'] == '<=50K']['age'].std())

>50K mean:  44.24984058155847 std:  10.51902771985177
<=50K mean: 36.78373786407767 std 14.020088490824813

## 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [54]:
print(
    data[(data['salary'] == '>50K') &
         (data['education'] != 'Bachelors') &
         (data['education'] != 'Prof-school') &
         (data['education'] != 'Assoc-acdm') & (data['education'] != 'Masters') &
         (data['education'] != 'Doctorate') ]['education'].count()
)
# Не правда. Число богатых людей с образованием меньше высшего - не нулевое

3667

## 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [164]:
for look, sub_df in data.groupby(['race','sex']):
    print(look)
    print(sub_df['age'].describe())

('Amer-Indian-Eskimo', 'Female')
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
('Amer-Indian-Eskimo', 'Male')
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
('Asian-Pac-Islander', 'Female')
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
('Asian-Pac-Islander', 'Male')
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
('Black', 'Female')
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('Black', 'Male')
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('Other', 'Female')
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
('Other', 'Male')
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
('White', 'Female')
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
('White', 'Male')
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

## 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [38]:
data['is_married'] = (
    (data['marital-status'] == 'Married-civ-spouse') | 
    (data['marital-status'] == 'Married-spouse-absent') | 
    (data['marital-status'] == 'Married-AF-spouse')
)
data['is_married']=data['is_married'].map({ True: 'Женатый', False : 'Холост'})
for look, sub_df in data.groupby('is_married'):
    print(look)
    print(
        sub_df[(sub_df['salary'] == '>50K') & (sub_df['sex'] == 'Male')]['salary'].count() /
        sub_df[(sub_df['sex'] == 'Male')]['salary'].count()
    )

Женатый
0.4405139945351156
Холост
0.08449509031397745

## 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [47]:
print('Максимальное число рабочих часов:',data['hours-per-week'].max())
num_workers = data[data['hours-per-week'] == data['hours-per-week'].max()]['hours-per-week'].count()
num_rich = data[(data['hours-per-week'] == data['hours-per-week'].max()) & (data['salary'] == '>50K')]['hours-per-week'].count()
print('Число людей работающих столько часов:', num_workers)
print('Процент богатых людей: ', num_rich / num_workers * 100, '%', sep='')

Максимальное число рабочих часов: 99
Число людей работающих столько часов: 85
Процент богатых людей: 29.411764705882355%

## 10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [56]:
for (salary,native_country), sub_df in data.groupby(['salary','native-country']):
    print(salary, native_country)
    print(sub_df['hours-per-week'].mean())

<=50K ?
40.16475972540046
<=50K Cambodia
41.416666666666664
<=50K Canada
37.91463414634146
<=50K China
37.38181818181818
<=50K Columbia
38.68421052631579
<=50K Cuba
37.98571428571429
<=50K Dominican-Republic
42.338235294117645
<=50K Ecuador
38.041666666666664
<=50K El-Salvador
36.03092783505155
<=50K England
40.483333333333334
<=50K France
41.05882352941177
<=50K Germany
39.13978494623656
<=50K Greece
41.80952380952381
<=50K Guatemala
39.36065573770492
<=50K Haiti
36.325
<=50K Holand-Netherlands
40.0
<=50K Honduras
34.333333333333336
<=50K Hong
39.142857142857146
<=50K Hungary
31.3
<=50K India
38.233333333333334
<=50K Iran
41.44
<=50K Ireland
40.94736842105263
<=50K Italy
39.625
<=50K Jamaica
38.23943661971831
<=50K Japan
41.0
<=50K Laos
40.375
<=50K Mexico
40.00327868852459
<=50K Nicaragua
36.09375
<=50K Outlying-US(Guam-USVI-etc)
41.857142857142854
<=50K Peru
35.06896551724138
<=50K Philippines
38.065693430656935
<=50K Poland
38.166666666666664
<=50K Portugal
41.93939393939394
<=50K Puerto-Rico
38.470588235294116
<=50K Scotland
39.44444444444444
<=50K South
40.15625
<=50K Taiwan
33.774193548387096
<=50K Thailand
42.86666666666667
<=50K Trinadad&Tobago
37.05882352941177
<=50K United-States
38.79912723305605
<=50K Vietnam
37.193548387096776
<=50K Yugoslavia
41.6
>50K ?
45.54794520547945
>50K Cambodia
40.0
>50K Canada
45.64102564102564
>50K China
38.9
>50K Columbia
50.0
>50K Cuba
42.44
>50K Dominican-Republic
47.0
>50K Ecuador
48.75
>50K El-Salvador
45.0
>50K England
44.53333333333333
>50K France
50.75
>50K Germany
44.97727272727273
>50K Greece
50.625
>50K Guatemala
36.666666666666664
>50K Haiti
42.75
>50K Honduras
60.0
>50K Hong
45.0
>50K Hungary
50.0
>50K India
46.475
>50K Iran
47.5
>50K Ireland
48.0
>50K Italy
45.4
>50K Jamaica
41.1
>50K Japan
47.958333333333336
>50K Laos
40.0
>50K Mexico
46.57575757575758
>50K Nicaragua
37.5
>50K Peru
40.0
>50K Philippines
43.032786885245905
>50K Poland
39.0
>50K Portugal
41.5
>50K Puerto-Rico
39.416666666666664
>50K Scotland
46.666666666666664
>50K South
51.4375
>50K Taiwan
46.8
>50K Thailand
58.333333333333336
>50K Trinadad&Tobago
40.0
>50K United-States
45.50536884674383
>50K Vietnam
39.2
>50K Yugoslavia
49.5